<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.appsys.dao.insuredinfo.InsuredInfoMapper">

	<insert id="add" parameterType="InsuredInfo">
		insert into insureinfodb.insured_info (buyerName,buyerID,buyerPhone,policyStatus,comment,updateDate,
											   startDate,endDate,beneficiaryName,premium,paymentType,isApproved,
											   isPaid,createdBy,creationDate,modifyBy,modifyDate,versionId)
				values(#{buyerName},#{buyerID},#{buyerPhone},#{policyStatus},#{comment},
					   #{updateDate},#{startDate},#{endDate},#{beneficiaryName},#{premium},
					   #{paymentType},#{isApproved},#{isPaid},#{createdBy},
					   #{creationDate},#{modifyBy},#{modifyDate},#{versionId})
	</insert>

	<insert id="addCA" parameterType="InsuredCAInfo">
		insert into insureinfodb.caline_info (insuredId,vehicleModel,vehicleBuyInTime,limit_Ext,carDamage,carFire,carGlass,comment)
		values(#{insuredId},#{vehicleModel},#{vehicleBuyInTime},#{limitCA},#{carDamage},
		#{carFire},#{carGlass},#{comment})
	</insert>

	<insert id="addGL" parameterType="InsuredGLInfo">
		insert into insureinfodb.glline_info (insuredId,insuredPeople,insuredPeopleID,insuredPeopleAge,insuredPeopleGender,limit_Ext,peopleAccident,peopleIllness,comment)
		values(#{insuredId},#{insuredPeople},#{insuredPeopleID},#{insuredPeopleAge},#{insuredPeopleGender},
		#{limitGL},#{peopleAccident},#{peopleIllness},#{comment})
	</insert>
	
	<update id="modify" parameterType="InsuredInfo">
		update insureinfodb.insured_info
		<trim prefix="set" suffixOverrides="," suffix="where id=#{id}">
			<if test="buyerName != null">buyerName=#{buyerName},</if>
			<if test="buyerID != null">buyerID=#{buyerID},</if>
			<if test="buyerPhone != null">buyerPhone=#{buyerPhone},</if>
			<if test="policyStatus != null">policyStatus=#{policyStatus},</if>
			<if test="comment != null">comment=#{comment},</if>
			<if test="updateDate != null">updateDate=#{updateDate},</if>
			<if test="startDate != null">startDate=#{startDate},</if>
			<if test="endDate != null">endDate=#{endDate},</if>
			<if test="beneficiaryName != null">beneficiaryName=#{beneficiaryName},</if>
			<if test="premium != null">premium=#{premium},</if>
			<if test="paymentType != null">paymentType=#{paymentType},</if>
			<if test="isApproved != null">isApproved=#{isApproved},</if>
			<if test="isPaid != null">isPaid=#{isPaid},</if>
			<if test="createdBy != null">createdBy=#{createdBy},</if>
			<if test="creationDate != null">creationDate=#{creationDate},</if>
			<if test="modifyBy != null">modifyBy=#{modifyBy},</if>
			<if test="modifyDate != null">modifyDate=#{modifyDate},</if>
			<if test="versionId != null">versionId=#{versionId},</if>
		</trim>
	</update>

	<update id="modifyCA" parameterType="InsuredCAInfo">
		update insureinfodb.caline_info
		<trim prefix="set" suffixOverrides="," suffix="where insuredId=#{id}">
			<if test="vehicleModel != null">vehicleModel=#{vehicleModel},</if>
			<if test="vehicleBuyInTime != null">vehicleBuyInTime=#{vehicleBuyInTime},</if>
			<if test="limitCA != null">limit_Ext=#{limitCA},</if>
			<if test="carDamage != null">carDamage=#{carDamage},</if>
			<if test="carFire != null">carFire=#{carFire},</if>
			<if test="carGlass != null">carGlass=#{carGlass},</if>
			<if test="comment != null">comment=#{comment},</if>
		</trim>
	</update>

	<update id="modifyGL" parameterType="InsuredGLInfo">
		update insureinfodb.glline_info
		<trim prefix="set" suffixOverrides="," suffix="where insuredId=#{id}">
			<if test="insuredPeople != null">insuredPeople=#{insuredPeople},</if>
			<if test="insuredPeopleID != null">insuredPeopleID=#{insuredPeopleID},</if>
			<if test="insuredPeopleAge != null">insuredPeopleAge=#{insuredPeopleAge},</if>
			<if test="insuredPeopleGender != null">insuredPeopleGender=#{insuredPeopleGender},</if>
			<if test="limitGL != null">limit_Ext=#{limitGL},</if>
			<if test="peopleAccident != null">peopleAccident=#{peopleAccident},</if>
			<if test="peopleIllness != null">peopleIllness=#{peopleIllness},</if>
			<if test="comment != null">comment=#{comment},</if>
		</trim>
	</update>

	<delete id="deleteAppInfoById" parameterType="Integer">
		delete from app_info where id = #{id}
	</delete>
	
	<select id="getInsuredInfoList" resultType="InsuredInfo">
		select a.id,a.buyerName,a.startDate,a.endDate,a.beneficiaryName,a.premium,a.isApproved,a.buyerID,a.buyerPhone,a.isPaid,
				(select buyerName from insureinfodb.insured_info where id = a.id) as buyerName,
				a.policyStatus,
				(select valueName from insureinfodb.data_dictionary d where  a.policyStatus=d.valueId AND d.typeCode='POLICY_STATUS') as policyStatusName,
				a.paymentType,
				(select valueName from insureinfodb.data_dictionary d where  a.paymentType=d.valueId AND d.typeCode='PAYMENT_TYPE') as paymentTypeName
		 from  insureinfodb.insured_info a
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
				and a.id = #{id}
			</if>
			<if test="buyerName != null and buyerName != ''">
				and a.buyerName like CONCAT ('%',#{buyerName},'%')
			</if>
			<if test="policyStatus != null">
				and a.policyStatus = #{policyStatus}
			</if>
			<if test="startDate != null">
				and a.startDate = #{startDate}
			</if>
			<if test="endDate != null">
				and a.endDate = #{endDate}
			</if>
			<if test="beneficiaryName != null">
				and a.beneficiaryName = #{beneficiaryName}
			</if>
			<if test="premium != null">
				and a.premium = #{premium}
			</if>
			<if test="isApproved != null">
				and a.isApproved = #{isApproved}
			</if>
			<if test="isPaid != null">
				and a.isPaid = #{isPaid}
			</if>
			<if test="versionId != null">
				and a.versionId = #{versionId}
			</if>
		</trim>

	</select>

	<select id="getInsuredInfoCount" resultType="Int">
		select count(*) as count from insureinfodb.insured_info a
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null and id != ''">
				and a.id = #{id}
			</if>
			<if test="policyStatus != null and policyStatus != ''">
				and a.policyStatus = #{policyStatus}
			</if>
		</trim>
	</select>

	<select id="getInsuredInfo" resultType="InsuredInfo">
		select * ,
			(select buyerName from insureinfodb.insured_info where id = a.id) as buyerName,
			(select valueName from insureinfodb.data_dictionary d where  a.policyStatus=d.valueId AND d.typeCode='POLICY_STATUS') as policyStatus,
			(select valueName from insureinfodb.data_dictionary d where  a.paymentType=d.valueId AND d.typeCode='PAYMENT_TYPE') as paymentType
		  from insureinfodb.insured_info a
		  <trim prefix="where" prefixOverrides="and | or">
				<if test="id != null">
					and a.id = #{id}
				</if>
				<if test="buyerName != null">
					and a.buyerName = #{buyerName}
				</if>
		  </trim>
	</select>

	<select id="getInsuredCAInfo" resultType="InsuredCAInfo">
		select a.id,a.insuredId,a.vehicleModel,a.vehicleBuyInTime,a.limit_Ext as 'limitCA',a.carDamage,a.carFire,a.carGlass,a.comment
		from insureinfodb.caline_info a
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
				and a.insuredId = #{id}
			</if>
		</trim>
	</select>

	<select id="getInsuredGLInfo" resultType="InsuredGLInfo">
		select *,a.limit_Ext as 'limitGL'
		from insureinfodb.glline_info a
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
				and a.insuredId = #{id}
			</if>
		</trim>
	</select>

	<update id="updateVersionId">
		update insureinfodb.insured_info
			set versionId=#{versionId}
			where id = #{id}
	</update>

	<update id="updateIsApprovedById">
		update insureinfodb.insured_info
			set isApproved=#{isApproved}
			where id = #{id}
	</update>

	<update id="updateStatus">
		update insureinfodb.insured_info
		set policyStatus=#{policyStatus},isApproved=#{isApproved}
		where id = #{id}
	</update>
</mapper>